h1 {
  color: blue;
}

header {
  text-align: center;
}

.App {
  background-color: lightblue;
}

main {
  display: flex;
  text-align: center;
}

li {
  list-style-type: none
}

a {
  font-size: 1.2em;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
