/* GLOBAL STYLES */
body {
  background-color: lightblue;
  font-size: 0.5em;
  text-align: center;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.125rem;
}

li, a, p {
  font-size: 1rem;
  text-decoration: none;
}

li {
  list-style-type: none
}

a {
  color: #62B5E5;
}

a:hover {
  text-decoration: underline;
}

main {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
}

button {
  background-color: #40C1AC;
  border: none;
  padding: 15px 30px;
  border-radius: 25px;
}

button:hover {
  background-color: #00FBFF;
}

.FollowList ul {
  /* display: flex;
  flex-direction: row; */
  background-color: #F3E500;
  /* justify-content: center; */
}

.FollowList li {
  font-weight: bold;
  margin: 0.2rem 0;
}

.CompanyTables th:first-child, td:first-child {
  width: 15%;
}

.CompanyTables th:nth-child(2), td:nth-child(2) {
  width: 5%;
}

.CompanyTables th:nth-child(3), td:nth-child(3) {
  width: 15%;
}

.CompanyTables th:nth-child(4), td:nth-child(4) {
  width: 5%;
}

.CompanyTables th:nth-child(5), td:nth-child(5) {
  width: 60%;
}

@media screen and (min-width: 520px) {
  main {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media screen and (min-width: 900px) {

  .FollowList ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .FollowList li {
    font-weight: bold;
    margin: 0.5em 1em;
  }

}
